*{
    margin: 0;
    padding: 0;
}

body{
    background-color: grey;
    font-family: sans-serif;
}

header, 
section#profil, 
section#activities, footer{
    width: 800px;
    margin: auto;
    padding: 15px;
}

header, 
section#profil, 
section#activities{
    background-color: white;
    border-bottom: 2px solid orange;
}

header img {
    width: 150px;
    float: left;
}

header h1 {
    float: left;
    font-size: 62px;
    margin-top: 30px;
    margin-left: 20px; 
    width: 600px;
    border-bottom: 5px solid gray
}

section#profil h1,section#activities h1{
    margin-bottom: 20px;
}

section#profil h1, 
section#activities h1 {
    text-align: center;
    font-size:  32px;
    background-color: grey;
    color: white;
    padding: 10px;
}

#profil-content{
    width: 700px;
    margin-top: auto;
}

#profil-content img {
    width: 200px;
    float: left;
    margin-right: 20px;
}

#profil-content #deskripsi-profil {
    width: 450px; 
    float: left;
}

#profil-content #deskripsi-profil p{
    text-align: justify;
}

..item-activity {
    padding: 10px;
}

.item-activity img,
.item-activity p {  
    width: 700px;
    display: block;
    margin: auto;
}

.item-activity p {
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 25px;
}

footer{
    border-color: black;
}

footer a{
    display: block;
    text-align: center;
    font-size: 25px;
    color: white;
    text-decoration: none;
    background-color: green;
    width: 200px;
    margin: auto;
    padding: 10px 0;
}

footer a:hover{
    background-color: red;
}

.fix-container{
    clear: both;
}